@model mootit_aplication.Models.USUARIO

@{
    ViewBag.Title = "Novo Usuário";
    var _imgBtnOk = @Url.Content("~/Content/imagens/btnOk.png");
    var _imgBtnErro = @Url.Content("~/Content/imagens/Cadnegado.png");
}
<script type="text/javascript">
   
    $("#confirmacao").text("");
        // .... Campo Verifica Login Existente
        $("#USU_LG").keypress(function () {
            Mascara(this, Login);
        });
        $("#USU_SN").focus(function () {
            $("#_valida_email").text("");
            $("#_btEmail").hide();
        });

        var _focar_senha = 0;
        $("#USU_SN").blur(function () {
            
        });

        $("#confirmacao").focus(function () {
            if (_focar_senha == 1) { $("#USU_SN").focus(); }
        });

        //Confirmaçao da senha
        $("#confirmacao").blur(function () {
            if (_focar_senha != 1) {
                if ($("#USU_SN").val() == $("#confirmacao").val() && $("#USU_SN").val() != "") {
                    $("#ConfirmaSenha").text("");
                    $("#ConfirmaSenha").css({ "color": "Green" });
                    $("#ConfirmaSenha").prepend('<img id="btnOk" src="@_imgBtnOk" /> Confirmada');
                }
                else {
                    var msg_confirmacao = "Senha não confirmada!";
                    if ($("#confirmacao").val() == "") { msg_confirmacao = "Digite a confirmação!"; }
                    $("#ConfirmaSenha").text("");
                    $("#ConfirmaSenha").css({ "color": "Red" });
                    $("#ConfirmaSenha").prepend('<img id="btnErro" src="@_imgBtnErro" /> ' + msg_confirmacao);
                    $("#USU_SN").val("");
                    $("#confirmacao").val("");
                    $("#USU_SN").focus();
                }
            }
        });


        $("#USU_LG").attr({
            required: true,
            maxlength: 50
        });
        $("#USU_SN").attr({
            required: true,
            maxlength: 20
        });
        $("#confirmacao").attr({
            required: true,
            maxlength: 20,
            class: span12
        });
        $("#USU_ST").attr({
            checked: true
        });
        

   
    //CAMPOS QUE GANHA FOCUS
    function ganhaFocusCampoSenha(login) {
        var Login = $document.getElementById("#USU_LG");
        var Nome = $document.getElementById("#USU_NM");
        var Resultado = $document.getElementById("#Resultado");

        if (Nome == null || Nome == "") {
            document.getElementById("USU_NM").focus();
        } else if (Login == null || Login == "") {
            document.getElementById("USU_LG").focus();
        } else if (verificaLogin == "btnErro" || verificaLogin == null || verificaLogin == "") {
            document.getElementById("USU_LG").focus();
        } else {

        }
    }

    function ganhaFocusCampoConfirmaSenha(login) {
        var Login = $document.getElementById("#USU_LG");
        var Nome = $document.getElementById("#USU_NM");
        var Senha = $document.getElementById("#USU_SN");
        var Resultado = $document.getElementById("#Resultado");

        if (Nome == null || Nome == "") {
            document.getElementById("USU_NM").focus();
        } else if (Login == null || Login == "") {
            document.getElementById("USU_LG").focus();
        } else if (verificaLogin == "btnErro" || verificaLogin == null || verificaLogin == "") {
            document.getElementById("USU_LG").focus();
        } else if (Senha == null || Senha == "") {
            document.getElementById("USU_SN").focus();
        }
    }

    function ganhaFocusCampoLogin(login) {
        var Login = $document.getElementById("#USU_LG");
        var Nome = $document.getElementById("#USU_NM");
        var Senha = $document.getElementById("#USU_SN");
        var Resultado = $document.getElementById("#Resultado");

        alert(Nome);
        if (Nome == null || Nome == "") {
            document.getElementById("USU_NM").focus();
        }
    }

    //CAMPOS QUE PERDE FOCUS
    function perdeFocusCampoSenha(login) {
        if ($("#USU_SN").val().length < 6) {
            _focar_senha = 1;
            $("#ConfirmaSenha").text("");
            var _msg_senha = "Mínimo 6 alfanumericos!";
            if ($("#USU_SN").val() == "") { _msg_senha = "Digite a Senha!"; }
            $("#ConfirmaSenha").text("");
            $("#ConfirmaSenha").css({ "color": "Red" });
            $("#ConfirmaSenha").prepend('<img id="btnErro" src="@_imgBtnErro" /> ' + _msg_senha);
        }
        else {
            $("#ConfirmaSenha").text("");
            _focar_senha = 0;
        }
    }


    function perdeFocusCampoLogin(login) {
        $.getJSON('@Url.Action("AjaxValidaUsuario")', { _login: $("#USU_LG").val() }, function (j) {
            if (j == null && $("#USU_LG").val() != "") {
                $("#Resultado").text("");
                $("#Resultado").css({ "color": "Green" });
                $("#Resultado").prepend('<img id="btnOk" src="@_imgBtnOk" /> Login Aceito!');
                $('#USU_SN').attr('disabled', true);
            }
            else {
                if ($("#USU_LG").val() == "") {
                    $("#Resultado").text("");
                } else {
                    $("#Resultado").text("");
                    $("#Resultado").css({ "color": "Red" });
                    $("#Resultado").prepend('<img id="btnErro" src="@_imgBtnErro" /> Login ja cadastrado!');
                    $("#USU_SN").val("");
                    $("#confirmacao").val("");
                    $("#USU_LG").focus();
                    $('#USU_SN').attr('disabled', false);
                }
            }
        });
    }
</script>
<style>
     html, body {
         height: 100%;
         margin: 0;
         padding: 0;
     }
</style>
@using (Html.BeginForm("Create", "Usuario", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="offset3">
        <fieldset class="span8">
            <div class="controls-row">
                <div class="control-group span6">
                    <label>
                        Nome:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.USU_NM, new { @class = "span12", id="USU_NM" })
                    </div>
                </div>
            </div>

            <div class="controls-row">
                <div class="control-group span6">
                    <label>
                        Login:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.USU_LG, new { @class = "span12", id = "USU_LG", onblur = "javascript: perdeFocusCampoLogin(this.value);",
                       onfocus = "javascript: ganhaFocusCampoLogin(this.value);"})
                    </div>
                </div>
                <div class="control-group span6">
                    <label>
                    </label>
                    <div id="Resultado" class="controls">
                    </div>
                </div>
            </div>
            <div class="controls-row">
                <div class="control-group span4">
                    <label>
                        Senha:
                    </label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.USU_SN, new { @class = "span12", id = "USU_SN", onblur = "javascript: perdeFocusCampoSenha(this.value);", onfocus = "javascript: ganhaFocusCampoSenha(this.value);" })
                    </div>
                </div>
                <div class="control-group span4">
                    <label>
                        Confirmação:
                    </label>
                    <div class="controls">
                        @Html.Password("confirmacao")
                    </div>
                </div>
                <div class="control-group span4">
                    <label>
                    </label>
                    <div id="ConfirmaSenha" class="controls">
                    </div>
                </div>
            </div>
            <div class="controls-row">
                <div class="control-group span4">
                    <div class="controls">
                        Se usuário Ativo @Html.CheckBox("USU_ST", true)
                    </div>
                </div>
            </div>
            <div class="pagination-centered">
                <legend></legend>
                @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn", title = "Cique para Voltar" })
                <input type="submit" class="btn btn-success" value="Salvar" title="Clique para salvar novo Usuário" />
            </div>
        </fieldset>
    </div>
    <div id="validador">
        @Html.ValidationSummary(true)
    </div>


}