@model mootit_aplication.Models.UsuarioModel

@{
    ViewBag.Title = "Altera dados Usuario";
    var _imgBtnOk = @Url.Content("~/Content/imagens/btnOk.png");
    var _imgBtnErro = @Url.Content("~/Content/imagens/Cadnegado.png");
    var statusUsuario = Model.USU_ST;

}

<script type="text/javascript">
    function checa(login) {
        if ($("#USU_NM").val() == "" || $("#USU_LG").val() == "") {
            alert("Existe campo em branco");
        } else {
            var check = document.getElementsByName("USU_SN_ALT");

            for (var i = 0; i < check.length; i++) {
                if (check[i].checked == true) {
                    if ($("#senhaAntiga").val() == "" || $("#senhaNova").val() == "" || $("#confirmacao").val() == "") {
                        alert("Existe campo em branco");
                    } else {
                        document.getElementById('form1').submit();
                    }
                } else {
                    document.getElementById('form1').submit();
                }
            }
        }
    }

    function ativaAlteracaoSenha() {
        var check = document.getElementsByName("USU_SN_ALT");

        for (var i = 0; i < check.length; i++) {
            if (check[i].checked == true) {
                $("#senhaAntiga").val(null);
                $("#senhaNova").val(null);
                $("#confirmacao").val(null);

                $("#divSenha").show();

            } else {
                $("#senhaAntiga").val(null);
                $("#senhaNova").val(null);
                $("#confirmacao").val(null);

                $("#divSenha").hide();
            }
        }
    }

    function perdeFocusCampoLogin(login) {
        $("#progressBar").show();
        $.getJSON('@Url.Action("AjaxValidaUsuario")', { _login: $("#USU_LG").val() }, function (j) {
            if (j.OK == true && $("#USU_LG").val() != "") {
                $("#Resultado").text("");
                $("#Resultado").css({ "color": "Green" });
                $("#Resultado").prepend('<img id="btnOk" src="@_imgBtnOk" /> Login Aceito!');
            }
            else {
                if ($("#USU_LG").val() == "") {
                    $("#Resultado").text("");
                } else {
                    $("#Resultado").text("");
                    $("#Resultado").css({ "color": "Red" });
                    $("#Resultado").prepend('<img id="btnErro" src="@_imgBtnErro" /> Login ja cadastrado!');
                    $("#USU_SN").val("");
                    $("#confirmacao").val("");
                    $("#USU_LG").focus();
                }
            }
            $("#progressBar").hide();
        });
    }

    function perdeFocusCampoSenhaAntiga(login) {
        $("#progressBar").show();
        $.getJSON('@Url.Action("AjaxValidaSenhaAntiga")', { _senhaAntiga: $("#senhaAntiga").val(), _USU_ID: '@Model.USU_ID' }, function (j) {
            if (j.OK == true && $("#USU_LG").val() != "") {
                document.getElementById('senhaNova').removeAttribute("disabled", "disabled");
                $("#senhaNova").focus();
                $("#ConfirmaSenha").text("");
                $("#ConfirmaSenha").css({ "color": "Green" });
                $("#ConfirmaSenha").prepend('<img id="btnOk" src="@_imgBtnOk" /> Senha Antiga Confirmada');
            }
            else {
                var msg_confirmacao = "Senha Antiga não confirmada!";
                $("#ConfirmaSenha").text("");
                $("#ConfirmaSenha").css({ "color": "Red" });
                $("#ConfirmaSenha").prepend('<img id="btnErro" src="@_imgBtnErro" /> ' + msg_confirmacao);
                $("#senhaAntiga").val("");
                $("#confirmacao").val("");
                $("#senhaAntiga").focus();
                document.getElementById('senhaNova').setAttribute("disabled", false);
                document.getElementById('confirmacao').setAttribute("disabled", false);
            }
            $("#progressBar").hide();
        });
    }
    function perdeFocusCampoSenhaNova(login) {
        if ($("#senhaNova").val().length < 6) {
            $("#ConfirmaSenha").text("");
            var _msg_senha = "Senha Nova deve ter no Mínimo 6 alfanumericos!";
            $("#ConfirmaSenha").text("");
            $("#ConfirmaSenha").css({ "color": "Red" });
            $("#ConfirmaSenha").prepend('<img id="btnErro" src="@_imgBtnErro" /> ' + _msg_senha);
            $("#ConfirmaSenha").show();
            $("#confirmacao").text("");
            document.getElementById('confirmacao').setAttribute("disabled", false);
        }
        else {
            $("#ConfirmaSenha").show();
            $("#ConfirmaSenha").text("");
            $("#ConfirmaSenha").css({ "color": "Green" });
            $("#ConfirmaSenha").prepend('<img id="btnOk" src="@_imgBtnOk" /> Senha Nova digitada corretamente');
            $("#confirmacao").text("");
            document.getElementById('confirmacao').removeAttribute("disabled", "disabled");
            $("#confirmacao").focus();

        }
    }

    //Confirmaçao da senha
    function perdeFocusCampoConfirmaSenha(login) {

        if ($("#senhaNova").val() == $("#confirmacao").val() && $("#senhaNova").val() != "") {
            $("#ConfirmaSenha").text("");
            $("#ConfirmaSenha").css({ "color": "Green" });
            $("#ConfirmaSenha").prepend('<img id="btnOk" src="@_imgBtnOk" /> Senha Nova Confirmada');

            $("#ConfirmaSenha").show();


        }
        else {

            if ($("#senhaNova").val() != "") {
                var msg_confirmacao = "Senha não confirmada!";
                if ($("#confirmacao").val() == "") { msg_confirmacao = "Digite a confirmação!"; }
                $("#ConfirmaSenha").text("");
                $("#ConfirmaSenha").css({ "color": "Red" });
                $("#ConfirmaSenha").prepend('<img id="btnErro" src="@_imgBtnErro" /> ' + msg_confirmacao);
                $("#senhaNova").val("");
                $("#confirmacao").val("");
                $("#senhaNova").focus();

            }


        }
    }
    ////CAMPOS QUE GANHA FOCUS

    function ganhaFocusCampoConfirmaSenha(login) {
        if ($("#senhaNova").val().length < 6) {
            $("#senhaNova").focus();
        }
    }
    function ganhaFocusCampoSenhaNova(login) {
        $("#confirmacao").text("");
    }

</script>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #progressBar {
          width: 100%;
          height: 50px;
          /* pura mágica */
          position: absolute;
          top: 50%; /* posiciona na metade da tela */
          margin-top: -25px; /* e retrocede metade da altura */
}
</style>
@using (Html.BeginForm("Edit", "Usuario", FormMethod.Post, new { @class = "form-inline", id = "form1" }))
{
    @Html.HiddenFor(model => model.USU_ID)
    @Html.HiddenFor(model => model.USU_SN)
    <div class="offset3">
        <fieldset class="span8">
            <div class="controls-row">
                <div class="control-group span6">
                    <label>
                        Nome:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.USU_NM, new { @class = "span12" })
                    </div>
                </div>
            </div>
            <div class="controls-row">
                <div class="control-group span4">
                    <label>
                        Login:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.USU_LG, new { @class = "span12", onblur = "javascript: perdeFocusCampoLogin(this.value);" })
                        @Html.Hidden("USU_LG_TEMP")
                    </div>
                </div>
                <div class="control-group span6">
                    <label>
                    </label>
                    <div id="Resultado" class="controls">
                    </div>
                </div>
            </div>
            
            <div class="controls-row">
                <div class="control-group span4">
                    <div class="controls">
                        @*Altera Senha @Html.CheckBoxFor(model => model.USU_SN_ALT, new { id= "USU_SN_ALT", onclick = "ativaAlteracaoSenha()", name = "USU_SN_ALT" })*@
                        <label for="coding"> Altera Senha </label>
                        <input id="USU_SN_ALT" name="USU_SN_ALT" type="checkbox" value="false" onclick="ativaAlteracaoSenha()">
                    </div>
                </div>
            </div>

            <div class="controls-row" id="divSenha" style="display:none">
                <div class="control-group span4">
                    <label>
                        Senha Antiga:
                    </label>
                    <div class="controls">
                        <input type="password" id="senhaAntiga" class = "span12" name="confirmacao" onblur = "javascript: perdeFocusCampoSenhaAntiga(this.value);" />
                    </div>
                </div>
                <div class="control-group span4">
                    <label>
                        Senha Nova:
                    </label>
                    <div class="controls">
                        @*<input type="password" id="senhaNova" class="span12"  onblur = "javascript: perdeFocusCampoSenhaNova(this.value);" onfocus = "javascript: ganhaFocusCampoSenhaNova(this.value);" disabled = "disabled"" />*@
                        @Html.PasswordFor(model => model.USU_SN_NOVA, new { id = "senhaNova", @class = "span12", onblur = "javascript: perdeFocusCampoSenhaNova(this.value);", onfocus = "javascript: ganhaFocusCampoSenhaNova(this.value);", disabled = "disabled" })
                    </div>
                </div>
                <div class="control-group span4">
                    <label>
                        Confirmação:
                    </label>
                    <div class="controls">
                        <input type="password" id="confirmacao" name="confirmacao" onblur="javascript: perdeFocusCampoConfirmaSenha(this.value);" onfocus="javascript: ganhaFocusCampoConfirmaSenha(this.value);" disabled="disabled" />
                    </div>
                </div>
                <div class="control-group span4">
                    <label>
                    </label>
                    <div id="ConfirmaSenha" class="controls">
                    </div>
                </div>
            </div>
            <div class="controls-row">
                <div class="control-group span4">
                    <div class="controls">
                        Se usuário Ativo @Html.CheckBox("USU_ST", statusUsuario)
                        @*Se usuário Ativo @Html.CheckBoxFor(model => model.USU_ST.HasValue, new { id= "USU_ST" } )*@
                    </div>
                </div>
            </div>
            <div class="pagination-centered">
                <legend></legend>
                @Html.ActionLink("Voltar", "Principal", "Home", new { usu_id = Model.USU_ID }, new { @class = "btn", title = "Cique para Voltar" })
                <input type="button" class="btn btn-success" value="Salvar" title="Clique para salvar dados do Usuário" Onclick="checa();">
            </div>
        </fieldset>
    </div>
    <div id="validador">
        @Html.ValidationSummary(true)
    </div>

    <div id="progressBar" style="display:none">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"><span class="pagination-centered">Aguarde...</span></div>
        </div>
    </div>

        }
