@model mootit_aplication.Models.ENDERECO

@{
    ViewBag.Title = "Novo Endereço";
}

<script src="@Url.Content("~/Scripts/mascaras.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    var string = location.href.split("=").pop();
    var url_atual = window.location.href;
    var USU_ID = url_atual.split("=").pop();

    function checa(login) {
        if ($("#END_LOGRADOURO").val() == "" || $("#END_NR").val() == "" || $("#END_CIDADE").val() == "" || $("#END_BAIRRO").val() == "" || $("#END_CEP").val() == "") {
            alert("Existe campo em branco");
        } else {
            document.getElementById('form1').submit();
        }
    }

    function AplicaMascaraCep(login) {
        $("#END_CEP")
                .attr("onKeyPress", "Mascara(this,Cep);")
                .attr("maxlength", "9");
    }
</script>
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>



@using (Html.BeginForm("Edit", "Endereco", FormMethod.Post, new { @class = "form-inline", id = "form1" }))
{
    @Html.HiddenFor(model => model.USU_ID)
    @Html.HiddenFor(model => model.END_ID)
    <div class="offset3">
        <fieldset class="span8">
            <div class="controls-row">
                <div class="control-group span6">
                    <label>
                        Logradouro:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.END_LOGRADOURO, new { @class = "span19" })
                    </div>
                </div>
                <div class="control-group span4">
                    <label>
                        Numero:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.END_NR, new { @class = "span6" })
                    </div>
                </div>
            </div>

            <div class="controls-row">
                <div class="control-group span4">
                    <label>
                        Cidade:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.END_CIDADE, new { @class = "span12" })
                    </div>
                </div>
                <div class="control-group span4">
                    <label>
                        Bairro:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.END_BAIRRO, new { @class = "span12" })
                    </div>
                </div>
            </div>

            <div class="controls-row">
                <div class="control-group span4">
                    <label>
                        Cep:
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.END_CEP, new { @class = "span12", onfocus = "javascript: AplicaMascaraCep(this.value);" })
                    </div>
                </div>
            </div>


            <div class="pagination-centered">
                <legend></legend>
                @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn", title = "Cique para Voltar" })
                <input type="button" class="btn btn-success" value="Salvar" title="Clique para salvar Endereço do Usuário" Onclick="checa();">
            </div>
        </fieldset>
    </div>
    <div id="validador">
        @Html.ValidationSummary(true)
    </div>


}